$color-shadywhite: rgba(255, 255, 255, 0.8);
$color-gray: #babdbe;
$color-shadowgray: rgba(0,0,0, 0.2);
// $color-darkgray: rgba(0, 0, 0, 0.4); 
$color-black: rgba (0, 0, 0, 0.8);

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 3rem;
    z-index: 1;
    padding-left: 5rem;
    padding-right: 5rem;
    background-color: unset;

    display: flex;
    align-items: center;
    justify-content: center;

    a {
        margin-left: 1rem;
        color: $color-gray;
        text-decoration: none;

        &:hover {
            color: $color-shadywhite;
            font-weight: 500;
        }
    }

    .darkLinks {
        a {
            color: black;

            &:hover {
                color: $color-black;
            }
        }
    }
}

.darkFooter {
    background-color: $color-gray   ;
    box-shadow: 0 0 1px 0 $color-shadowgray;
    position: absolute;
    bottom: 0;
}


