footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 3rem;
    z-index: 1;
    padding-left: 5rem;
    padding-right: 5rem;
    background-color: unset;

    display: flex;
    align-items: center;
    justify-content: center;

    a {
        margin-left: 1rem;
        color: rgb(206, 206, 206);
        text-decoration: none;

        &:hover {
            color: rgba(255, 255, 255, 0.8);
            font-weight: 500;
        }
    }

    .darkLinks {
        a {
            color: black;

            &:hover {
                color: rgba (0, 0, 0, 0.8);
            }
        }
    }
}

.darkFooter {
    background-color: rgb(248, 246, 246);
    box-shadow: 0 0 1px 0 rgba(0,0,0, 0.2);
    position: absolute;
    bottom: 0;
}


