// @import 'src\variables.scss';

$color-darkgray: rgba(0, 0, 0, 0.4); 
$color-coralred: #e55252;


.slideshow-container {
    height: 100vh;
    width: 100vw;
    max-width: 100%;
    overflow: hidden;
    position: relative;
}

.img-slideshow {
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    max-width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
}

.zoomIn {
    animation: zoomIn 8s ease infinite;
}

.opacity-0 {
    opacity: 0;
}


@keyframes zoomIn {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.1);
    }
}

.slideshow-overlay {
    background-color: $color-darkgray;
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
}

    p {
        margin-left: 5rem;
        max-width: 800px;
        padding-left: 1rem;
        color: white;
        font-size:  3rem;
        border-left: 8px solid $color-coralred;
    }

.fadeIn {
    animation: fadeInAnimation 1.2s ease-in-out;
}

@keyframes fadeInAnimation {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}