.project {
    margin: 2rem;

    h2 {
        border-bottom: 1px solid black;
    }


    img {
        width: 30rem;
    }
}
.project-details {
    display: flex;
    justify-content: space-evenly;

    button {
        margin-top: 1rem;
    }
}