<h1>Projects</h1>

<p>Here's some projects that I have been working on lately:</p>

<div class="project-container">

    <div *ngFor="let project of projects" class="project" >
        <h2>{{ project.title }}</h2>
        <div class="project-details">
            <p>
                {{ project.details}} <br>
                <button class="btn btn-primary"> <a href="{{ project.app_link }}">Try it</a> </button> 
                <br>
                <button class="btn btn-primary"> <a href="{{ project.github_link }}">See Github repo</a> </button>
            </p>
            <a href="{{ project.app_link }}">
                <img src="assets/img/projects/{{ project.img }}" >
            </a>
            <a href="{{ project.app_link }}">
                <img *ngIf="project.img_mobile !== ''" src="assets/img/projects/{{ project.img_mobile }}" class="mobile-img">
            </a>
        </div>
    </div>
    

</div>