// Global color-variables for SCSS
:root {
    $color-shadywhite: rgba(255, 255, 255, 0.8);
    $color-gray: rgb(206, 206, 206);
    $color-shadowgray: rgba(0,0,0, 0.2);
    $color-darkblue: rgba(14, 14, 124, 0.918);
    $color-darkgray: rgba(0, 0, 0, 0.4); 
    $color-black: rgba (0, 0, 0, 0.8);
    $color-coralred: #e55252;
}